<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Терапевт</title>
    <link href="/static/css/ther_page_styles.css" rel="stylesheet">
</head>
<body>
    <img src="https://dl.airtable.com/.attachments/7da0d4c7963babf742137abc4e9a1a99/5f547505/1.jpg" alt="Therapist Photo"
         width="500" height="600">
    <h1 class="name">ИМЯ СПЕЦИАЛИСТА</h1>
    <h2>Методы:</h2>
    <button class="methods">Метод 1</button>
    <button class="methods">Метод 2</button>
    <button class="methods">Метод 3</button>
    <button class="methods">Метод 4</button>
</body>
</html>